params.outdir = "results"

params.e2f2_geneset = "data/stage2/E2F2_TARGET_GENES.v2026.1.Hs.grp"

params.target_metadata = "data/stage2/metadata.cart.2026-05-23.json"
params.target_data_dir = "data/stage2/"
params.target_clinical = "data/stage2/clinical.tsv"
params.target_mycn = "data/stage2/target_nbl_mycn.tsv"

params.run_stage1 = true
params.run_stage2 = false

params.stage1_input_dir = "data/stage1/GSE216155"

params.pyscenic_workers = 4

params.pyscenic_tfs = "resources/pyscenic_resources/allTFs_hg38.txt"

params.pyscenic_ranking_10kb = "resources/pyscenic_resources/hg38_10kbp_up_10kbp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather"

params.pyscenic_ranking_500bp = "resources/pyscenic_resources/hg38_500bp_up_100bp_down_full_tx_v10_clust.genes_vs_motifs.rankings.feather"

params.pyscenic_annotations = "resources/pyscenic_resources/motifs-v10nr_clust-nr.hgnc-m0.001-o0.0.tbl"